<article class="home">
    <section class="home__main">
        <div class="home__presentation">
            <h1 class="home__title">Lorem Ipsum is simply dummy text</h1>
            <p>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            </p>
        </div>
        <div class="home__options">
            <a href="#" class="home__option">
                <span>Ofrezco Viaje</span>
            </a>
            <a href="#" class="home__option">
                <span>Necesito Transporte</span>
            </a>
        </div>
    </section>
    <section class="home__footer">
        <h4>Lorem Ipsum</h4>
        <p>
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
        </p>
    </section>
</article>