<article class="home">
  <section class="home__main">
    <div class="home__logo">
      <%= link_to image_tag("logo.png", alt: "Carmelo"), root_path %>
    </div>
    <div class="home__options">
      <%= link_to user_offer_path, class: "home__option home__option--offer" do %>
        <span>Ofrezco Viaje</span>
      <% end %>
      <%= link_to user_search_path, class: "home__option home__option--search" do %>
        <span>Necesito Transporte</span>
      <% end %>
    </div>
  </section>
</article>