<article class="login">
  <section class="login__main">
    <div class="login__logo">
      <%= link_to image_tag("logo.png", alt: "Carmelo"), root_path %>
    </div>
    <div class="login__option">
      <%= link_to "Login con Facebook", root_path, class: "login__facebook" %>
    </div>
  </section>
  <%= render 'static_pages/footer' %>
</article>