<header class="travels__header">
  <nav class="travels__navbar">
    <ul class="travels__nav">
      <li class="travels__nav-item">
        <%= active_link_to "Buscar", search_travels_path, class: "travels__nav-link" %>
      </li>
      <li class="travels__nav-item">
        <%= active_link_to "Ofrecer", offer_travels_path, class: "travels__nav-link" %>
      </li>
    </ul>
    </nav>
</header>