<article class="travels search">
  <%= render 'header' %>

  <%= render 'travels/searchPartials/search-form' %>

  <section class="travels__results-section">
    <%= render 'travels/searchPartials/search-filters' %>

    <%= render 'travels/searchPartials/search-results' %>
  </section>
</article>