<section class="travels__form-section">
  <form class="travels__form">
    <fieldset class="travels__form-field">
      <label class="travels__form-label travels__form-label--finder" for="travels-from-input">
        De dónde
      </label>
      <input type="" name="travelOffer" id="travels-from-input" class="travels__form-input">
    </fieldset>

    <fieldset class="travels__form-field">
      <label class="travels__form-label travels__form-label--finder" for="travels-to-input">
        A dónde
      </label>
      <input type="" name="travelOffer" id="travels-to-input" class="travels__form-input">
    </fieldset>

    <fieldset class="travels__form-field">
      <label class="travels__form-label travels__form-label--calendar" for="travels-when-input">
        Cuándo
      </label>
      <input
        id="travels-when-input"
        class="travels__form-input"
        type="text"
        name="travelOffer"
        data-provide="datepicker"
        readonly
      >
    </fieldset>

    <fieldset class="travels__form-field">
      <label class="travels__form-label" for="travels-model-input">
        Modelo de auto
      </label>
      <input type="" name="travelOffer" id="travels-model-input" class="travels__form-input">
    </fieldset>

    <fieldset class="travels__form-field">
      <label class="travels__form-label" for="travels-seats-input">
        Lugares
      </label>
      <input
        type="number"
        name="travelOffer"
        id="travels-seats-input"
        class="travels__form-input"
        min="1"
        max="4"
      >
    </fieldset>

    <fieldset class="travels__form-field">
      <button
          type="submit"
          class="travels__form-submit"
      >
        <span>
          Ofrecer
        </span>
      </button>
    </fieldset>
  </form>
</section>
