.user {
    &__form {
        margin-top: 3px;
        padding: 33px 0;
        height: 147px;
        background-color: $mercury-color;
        border-top: 1px solid $silver-chalice-color;
        border-bottom: 1px solid $silver-chalice-color;
        text-align: center;

        &-field {
            display: inline-block;
            margin: 0 3px;
            text-align: left;
        }

        &-label {
            position: relative;
            display: block;
            color: $emperor-color;
            font-size: 17px;
            font-weight: normal;
            cursor: pointer;

            &--finder,
            &--calendar {
                &:after {
                    position: absolute;
                    top: 3px;
                    margin-left: 6px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            &--finder {
                &:after {
                    width: 10px;
                    height: 15px;
                    background-image: image-url("iconfinder.png");
                }
            }

            &--calendar {
                &:after {
                    width: 15px;
                    height: 16px;
                    background-image: image-url("calendar.png");
                }
            }
        }

        &-input {
            &[type="number"] {
                text-align: center;
            }
        }

        &-submit {
            @extend .custom-button;
        }

        &--offer {
            .user__form-input {
                width: 162px;

                &[type="date"] {
                    width: 105px;
                }
            }
        }
    }
}
