.home {
    &__main {
        padding: 100px 40px 80px;
        text-align: center;
    }

    &__logo {
        margin: 0 auto;
        width: 338px;
    }

    &__options {
        margin-top: 31px;
    }

    &__option {
        position: relative;
        display: block;
        margin: 12px auto;
        padding: 10px 30px;
        width: 235px;
        border-radius: 15px;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;

        &:focus,
        &:hover {
            outline: none;
            text-decoration: none;
        }

        &--offer {
            color: $white-color;
            background-color: $atlantis-color;

            &:hover,
            &:focus {
                color: $white-color;
                background-color: $limeade-color
            }
        }

        &--search {
            color: $limeade-color;
            background-color: transparent;
            border: 1px solid $limeade-color;

            &:hover,
            &:focus {
                color: $limeade-color;
                box-shadow: 0 0 2px 1px $limeade-color;
            }
        }
    }
}
