.home {
    &__main {
        padding: 100px 40px 80px;
        text-align: center;
    }

    &__logo {
        margin: 0 auto;
        width: 338px;
    }

    &__options {
        margin-top: 31px;
    }

    &__option {
        @extend .custom-button;
        display: block;
        margin: 12px auto;
        padding: 10px 30px;
        width: 235px;
        height: 40px;
        border-radius: 15px;
        text-transform: uppercase;

        &--offer {
            @extend .custom-button--primary;
        }

        &--search {
            @extend .custom-button--secondary;
        }
    }
}
