.login {
    &__main {
        padding: 100px 40px 80px;
        text-align: center;
    }

    &__logo {
        margin: 0 auto;
        width: 338px;
    }

    &__option {
        margin-top: 70px;
    }

    &__facebook {
        position: relative;
        display: inline-block;
        padding: 17px 28px;
        width: 352px;
        border-radius: 4px;
        color: $white-color;
        background-color: $chambray-color;
        font-size: 21px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;

        &:before {
            position: absolute;
            top: 20px;
            left: 28px;
            width: 12px;
            height: 23px;
            background-image: image-url("facebook.png");
            background-size: contain;
            background-repeat: no-repeat;
            content: '';
        }

        &:hover,
        &:focus {
            color: $white-color;
            text-decoration: none;
            box-shadow: inset 0 0 6px $white-color;
        }
    }
}
