.custom-button {
    position: relative;
    border: 0;
    font-weight: bold;
    transition: all 0.5s ease-in-out;

    &:focus,
    &:hover {
        outline: 0;
        text-decoration: none;
    }

    &--primary {
        color: $white-color;
        background-color: $atlantis-color;

        &:hover,
        &:focus {
            color: $white-color;
            background-color: $limeade-color;
        }
    }

    &--secondary {
        color: $limeade-color;
        background-color: transparent;
        border: 1px solid $limeade-color;

        &:hover,
        &:focus {
            color: $limeade-color;
            box-shadow: 0 0 2px 1px $limeade-color;
        }
    }

    &--tertiary {
        color: $white-color;
        background: $cerulean-color;

        span {
            position: relative;
            z-index: 3;
        }

        &:focus,
        &:hover {
            color: $white-color;
            box-shadow: 0 0 1px 1px $dodger-blue-color;

            &:after {
                opacity: 1;
            }
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: linear-gradient(to bottom, $cerulean-color ,$science-blue-color);
            border-radius: 2px;
            transition: opacity 0.5s ease-in-out;
            content: '';
        }
    }
}
