// http://chir.ag/projects/name-that-color

$atlantis-color: #8ED221;

$bay-of-many-color: #204D74;

$black-color: #000000;

$bright-green-color: #54D000;

$casper-color: #B2C4D4;

$cerulean-color: #0E9CEB;

$cerulean-darker-color: #0D83DD;

$chambray-color: #3B5998;

$concrete-color: #F2F2F2;

$curious-blue: #199FE2;

$dodger-blue-color: #4D90FE;

$emperor-color: #545454;

$gallery-color: #EFEFEF;

$gray-color: #868686;

$gray-chateau-color: #A3A5A6;

$harlequin-color: #20B900;

$lima-color: #7FC21B;

$limeade-color: #7FBA00;

$matisse-color: #1B6CAA;

$mercury-color: #E4E4E4;

$picton-blue-color: #45A9F7;

$science-blue-color: #0572DF;

$shark-color: #2E3133;

$silver-color: #CBCBCB;

$silver-chalice-color: #B0AEAE;

$viking-color: #73B0DE;

$white-color: #FFFFFF;
