// http://chir.ag/projects/name-that-color

$atlantis-color: #8ED221;

$bright-green-color: #54D000;

$casper-color: #B2C4D4;

$cerulean-color: #0E9CEB;

$dodger-blue-color: #4D90FE;

$emperor-color: #545454;

$harlequin-color: #20B900;

$lima-color: #7FC21B;

$limeade-color: #7FBA00;

$mercury-color: #E4E4E4;

$science-blue-color: #0572DF;

$silver-chalice-color: #B0AEAE;

$viking-color: #73B0DE;

$white-color: #FFFFFF;
