// http://chir.ag/projects/name-that-color

$atlantis-color: #8ED221;

$bright-green-color: #54D000;

$harlequin-color: #20B900;

$lima-color: #7FC21B;

$limeade-color: #7FBA00;

$viking-color: #73B0DE;

$white-color: #FFFFFF;
