input:not([type="radio"]):not([type="checkbox"]) {
    height: 50px;
    padding-left: 10px;
    border: 1px solid $casper-color;
    border-radius: 3px;
    font-size: 17px;
    transition: all 0.5s ease-in-out;

    &:hover,
    &:focus {
        outline: 0;
        box-shadow: 0 0 1px 1px $dodger-blue-color;
    }
}
