input {
    width: 190px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid $casper-color;
    border-radius: 3px;
    font-size: 17px;
    transition: box-shadow 0.5s ease-in-out;

    &:hover,
    &:focus {
        outline: 0;
        box-shadow: 0 0 1px 1px $dodger-blue-color;
    }

    &[type="submit"] {
        width: 168px;
        height: 46px;
        color: $white-color;
        background: $cerulean-color;
        border: 0;
        border-radius: 2px;
        font-weight: bold;

        &:hover,
        &:focus {
            background: linear-gradient(to bottom, $cerulean-color, $science-blue-color);
        }
    }
}