.ui-slider {
    .ui-slider-handle {
        width: 15px;
        height: 15px;
        background: $picton-blue-color;
        border-radius: 50%;
        cursor: pointer;

        &:focus {
            outline: 0;
            box-shadow: 0 0 1px 1px $dodger-blue-color;
        }
    }

    &.ui-slider-horizontal {
        height: 5px;
    }

    &.ui-widget-content {
        border: 0;
    }
}
