// Header general styles

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white-color;
    box-shadow: 0 0 15px $gray-chateau-color;
    z-index: 1;

    &__navbar {
        @extend .navbar;
        @extend .navbar-default;
        margin: 0;
        background-color: transparent;
        border: 0;
        line-height: 70px;
    }

    &__logo {
        display: inline-block;
        width: 150px;
        padding: 0 20px;

        a {
            outline: 0;
        }
    }

    &__nav {
        @extend .col-sm-8;
        @extend .col-lg-5;
        @extend .pull-right;
    }

    &__item {
        @extend .col-sm-4;
        padding: 0;
        text-align: center;

        &--login {
            display: inline-block;
        }

        &--profile {
            display: none;
        }
    }

    &__link {
        padding: 10px;
        border-radius: 15px;
        transition: all 0.5s ease-in-out;

        &:focus,
        &:hover {
            color: $white-color;
            background-color: $curious-blue;
            text-decoration: none;
            outline: 0;
        }

        &--login {
            color: $limeade-color;
            background-color: transparent;
            border: 1px solid $limeade-color;
            text-transform: uppercase;

            &:focus,
            &:hover {
                color: $white-color;
                background-color: $limeade-color;
            }
        }
    }

    &__profile-picture {
        display: inline-block;
        width: 47px;
    }

    &__profile-links {
        display: inline-block;
        margin-left: 7px;
        text-align: center;
        vertical-align: middle;
        line-height: normal;

        a {
            position: relative;
            display: block;

            &:hover,
            &:focus {
                color: $curious-blue;
                text-decoration: none;
            }

            &:first-child {
                color: $cerulean-darker-color;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }

            &:last-child {
                &:after {
                    position: absolute;
                    top: 5px;
                    right: 0;
                    width: 4px;
                    height: 7px;
                    content: '';
                    background-image: image-url("right-arrow.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

// Header styles by view

body {
    &.home,
    &.login {
        .header {
            position: relative;
            box-shadow: none;

            &__logo {
                display: none;
            }
        }
    }

    // Register view header styles
    &.register {
        .header {
            &__nav {
                @extend .col-lg-4;
            }

            &__item {
                @extend .col-sm-6;

                &--login {
                    display: none;
                }
            }
        }
    }
}
