<article class="user">
  <%= render 'user_pages/header' %>

  <section class="user__form-section">
    <form class="user__form user__form--offer">
      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--finder" for="user-from-input">
          De dónde
        </label>
        <input type="" name="" id="user-from-input" class="user__form-input">
      </fieldset>

      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--finder" for="user-to-input">
          A dónde
        </label>
        <input type="" name="" id="user-to-input" class="user__form-input">
      </fieldset>

      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--calendar" for="user-when-input">
          Cuándo
        </label>
        <input
          id="user-when-input"
          class="user__form-datepicker"
          type="text"
          data-provide="datepicker"
          readonly
        >
      </fieldset>

      <fieldset class="user__form-field">
        <label class="user__form-label" for="user-model-input">
          Modelo de auto
        </label>
        <input type="" name="" id="user-model-input" class="user__form-input">
      </fieldset>

      <fieldset class="user__form-field">
        <label class="user__form-label" for="user-seats-input">
          Cant. de Lugares
        </label>
        <input type="number" name="" id="user-seats-input" class="user__form-input" min="1" max="4">
      </fieldset>

      <fieldset class="user__form-field">
        <button
            type="submit"
            class="user__form-submit"
        >
          <span>
            Ofrecer
          </span>
        </button>
      </fieldset>
    </form>
  </section>
</article>
