<article class="user">
  <%= render 'user_pages/header' %>

  <section class="user__form-section">
    <form class="user__form user__form--search">
      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--finder" for="user-from-input">
          De dónde
        </label>
        <input type="" name="" id="user-from-input" class="user__form-input">
      </fieldset >
      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--finder" for="user-to-input">
          A dónde
        </label>
        <input type="" name="" id="user-to-input" class="user__form-input">
      </fieldset>
      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--calendar" for="user-when-input">
          Cuándo
        </label>
        <input type="" name="" id="user-when-input" class="user__form-input">
      </fieldset>
      <fieldset class="user__form-field">
        <button
            type="submit"
            class="user__form-submit"
        >
          <span>
            Buscar
          </span>
        </button>
      </fieldset>
    </form>
  </section>
</article>
