<article class="user">
  <%= render 'user_pages/header' %>

  <section class="search">
    <form class="search__form">
      <fieldset class="search__form-field">
        <label class="search__form-label search__form-label--finder" for="search-from-input">
          De dónde
        </label>
        <input type="" name="" id="search-from-input" class="search__form-input">
      </fieldset >
      <fieldset class="search__form-field">
        <label class="search__form-label search__form-label--finder" for="search-to-input">
          A dónde
        </label>
        <input type="" name="" id="search-to-input" class="search__form-input">
      </fieldset>
      <fieldset class="search__form-field">
        <label class="search__form-label search__form-label--calendar" for="search-when-input">
          Cuándo
        </label>
        <input type="" name="" id="search-when-input" class="search__form-input">
      </fieldset>
      <fieldset class="search__form-field">
        <input
          type="submit"
          name=""
          value="Buscar"
          class="search__form-input search__form-input--submit"
        >
      </fieldset>
    </form>
  </section>
</article>
