.travels {
    &__form-section {
        margin: 0 auto;
        width: 83%;
    }

    &__form {
        margin-top: 3px;
        padding: 33px 0;
        height: 147px;
        background-color: $mercury-color;
        border: 1px solid $silver-chalice-color;
        text-align: center;
    }

    &__form-field {
        display: inline-block;
        margin: 0 3px;
        text-align: left;
    }

    &__form-label {
        position: relative;
        display: block;
        color: $emperor-color;
        font-size: 17px;
        font-weight: normal;
        cursor: pointer;

        &--finder,
        &--calendar {
            &:after {
                position: absolute;
                top: 3px;
                margin-left: 6px;
                background-size: contain;
                background-repeat: no-repeat;
                content: '';
            }
        }

        &--finder {
            &:after {
                width: 10px;
                height: 15px;
                background-image: image-url("iconfinder.png");
            }
        }

        &--calendar {
            &:after {
                width: 15px;
                height: 16px;
                background-image: image-url("calendar.png");
            }
        }
    }

    &__form-submit {
        @extend .custom-button;
        @extend .custom-button--tertiary;
        width: 168px;
        height: 46px;
        border-radius: 2px;
        font-size: 17px;
    }
}