.travels {
    &__navbar {
        @extend .navbar;
        @extend .navbar-default;
        margin: 0;
        min-height: 40px;
        background-color: $atlantis-color;
        border: 0;
        border-radius: 0;
        line-height: 40px;
    }

    &__nav {
        @extend .col-sm-4;
        @extend .col-lg-3;
        @extend .pull-right;
    }

	&__nav-item {
        @extend .col-sm-5;
        padding: 0;
        text-align: center;
    }

    &__nav-link {
        padding: 10px 37px;
        color: $white-color;
        font-size: 17px;
        transition: all 0.5s ease-in-out;

        &.active,
        &:focus,
        &:hover {
            color: $white-color;
            background-color: $lima-color;
            text-decoration: none;
            outline: 0;
        }
    }
}