.travels.search {
    .travels {
        &__form-input {
            width: 250px;
        }

        &__filter-header {
            padding: 6px 14px;
            border: 2px solid rgba($silver-color, 0.3);

            &-left,
            &-right {
                display: inline-block;
                width: 50%;
            }

            &-left {
                span {
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            &-right {
                text-align: right;
            }
        }

        &__filter-results-amount {
            color: $picton-blue-color;
        }

        &__filter-button {
            @extend .custom-button;
            @extend .custom-button--tertiary;
            width: 207px;
            height: 35px;
            border-radius: 2px;
            font-size: 17px;

            span {
                vertical-align: middle;
            }
        }

        &__filter-form {
            padding: 10px 23px;
            border: 2px solid $silver-color;
        }

        &__filter {
            display: inline-block;
            padding: 0 3px;
            width: 40%;
            vertical-align: top;

            &:last-child {
                padding-left: 18px;
                width: 16%;
            }
        }

        &__filter-label {
            display: block;
            color: $gray-chateau-color;
            font-size: 10px;
        }

        &__filter-slider-container {
            padding: 12px 20px;
            background-color: $gallery-color
        }

        &__filter-min,
        &__filter-max {
            display: inline-block;
            width: 50%;
            color: $gray-chateau-color;
            font-size: 10px;
        }

        &__filter-min {
            text-align: left;
        }

        &__filter-max {
            padding-right: 3px;
            text-align: right;
        }

        &__filter-checkbox {
            display: inline-block;
            margin: 5px 15px 0 0;

            input {
                vertical-align: sub;
            }

            .travels__filter-label {
                display: initial;
                cursor: pointer;
            }
        }

        &__results {
            margin-top: 5px;
            color: $gray-chateau-color;
            font-size: 12px;
            text-align: center;
        }

        &__results-header-column,
        &__result-column {
            width: 30%;

            &:first-child {
                width: 10%;
            }
        }

        &__result {
            &-profile-picture {
                margin: 0 auto;
                width: 50px;
            }

            &-name {
                color: $picton-blue-color;

                &:hover,
                &:focus {
                    color: $picton-blue-color;
                    text-decoration: none;
                }
            }
        }
    }
}
