<footer class="footer">
  <ul>
    <li>
      <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</span>
      <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas.</span>
    </li>
    <li>
      <span>Lorem Ipsum</span>
      <span>© Lorem Ipsum Lorem Ipsum</span>
    </li>
  </ul>
</footer>