<footer class="footer">
  <ul class="col-sm-12">
    <li class="col-sm-6">
      <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</span>
      <span>Lorem Ipsum es simplemente el texto de relleno de las imprentas.</span>
    </li>
    <li class="col-sm-6">
      <span>Lorem Ipsum</span>
      <span>© Lorem Ipsum Lorem Ipsum</span>
    </li>
  </ul>
</footer>